@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
  background-color: #111111;
  min-height: 100vh;
  font-family: 'Noto Sans';
}

:root {
  --deontay-grey: #1C1C1E;
  --deontay-red: #F24E1E;
  --deontay-green: #2D7645;
  --deontay-white: #EBEBF5;
}